/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
html{  
    scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root{
    --navbar-height: 50px;
}
/* NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/* NAVIGATION BAR: LOGO AND IMAGE  */
#logo img{
    height: 56px;
  margin: 34px 40px;
}

/* NAVIGATION BAR: LIST STYLING */
/* #navbar{
    position: absolute;
    top: 0;
} */
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
   background-color: white;

}
  /* Home Button Edit */
  #home {
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before {
    content: "";
    background: url(./bg.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 105%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
 #home h1{
     color: white;
     text-align: center;

 }
 #home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;

}
  /* SERVICES SECTION */
   #services{
       margin: 34px;
       display: flex;
   }
   #services .box{
    border: 2px solid brown;
    padding:34px;
    margin: 25px 6px;
    border-radius:23px;
    background-color: #c8c3c3;
    margin-bottom: 20px;
}
   #services .box img{
       height: 156px;
       margin: auto;
       display: block;
   }
   #services .box p{
    font-family: 'Roboto', sans-serif;

   }
   #services{}

     /* CLIENT SECTION  */
    #client-section{
        
        /* position: relative; */

    }
    #client-section::before{
       content:"" ;
       position: absolute;
       background: url("./Pizza.jpg");
       width: 100%;
       height: 40%;
       z-index: -1;
       opacity: 0.8;
    }
    #clients{
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .client-item{
        padding: 34px;

    }
     #clients img{
       height: 124px;
     }
     /* CONTACT US  */
     #contact{
     position: relative;
     /* align-items: center; */
     /* justify-content: center; */
     }
     #contact::before{
         content: "";
        
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: -1;     
         opacity: 0.7;
         background: url("./contact.jpg") no-repeat center center/cover;
    }

   
    #contact-box input,
    #contact-box textarea{
     width: 100%;
     padding: 0.5rem;
     align-items: center ;
     justify-content: center;
    }
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #conact-box{
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding-bottom: 34px;
     }
    #contact-box form{
        align-items: center;
        justify-content: center;
        width: 30%;

    }
    #contact-box label{
        font-size: 1.3rem;

    }


    footer{
        background: black;
        color: white;
        padding: 9px 20px;
    }


    /* UTILITY CLASS */
   
    .h-primary{
        font-size: 3.8rem;
        padding: 12px;
        font-family: 'Roboto', sans-serif;


    }
    .h-secondary{
        font-size: 2.8rem;
        padding: 12px;
        font-family: 'Roboto', sans-serif;


    }
    .btn{
        padding: 6px 20px;
        border: 2px solid white;
        background-color: blueviolet;
        color: white;
        margin: 17px;
        border-radius: 10px;
        cursor: pointer;
    }
    .center{
        text-align: center;
    } 
    .h-sos{
        font-size: 3.8rem;
        padding: 12px;
        font-family: 'Roboto', sans-serif;


    }
